<!DOCTYPE html>
<html>
  <head>
    <title>Centsible</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <% unless request.path == "/users" || (controller_name == "users" && action_name == "index") %>
    <nav class="bg-gradient-to-b from-blue-light to-blue py-6 min-h-[70px]">

    </nav>
  <% end %>
  <body>
    <main class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
